@use "../util/" as u;

// .wrapper {
//   max-width: u.rem(1400);
//   margin-inline: auto;
//   padding: 0 u.rem(30);
// }

// @media (max-width: u.em(999)) {
//   .wrapper-mobile {
//     max-width: u.rem(550);
//     margin-inline: auto;
//     padding: u.rem(30);
//   }
// }

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: u.rem(15);
  background-color: var(--gray-lt);
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
p {
  font-size: u.rem(15);
  margin: 0;
}
