@use "../util/" as u;

// .wrapper {
//   max-width: u.rem(1400);
//   margin-inline: auto;
//   padding: 0 u.rem(30);
// }

// @media (max-width: u.em(999)) {

.wrapper {
  // max-width: u.rem(400);
  margin-inline: auto;
  margin: 0 auto;
}

html {
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @media screen and (min-width: u.em(1000)) {
    overflow: hidden;
    background-image: url(./bg-desktop.png);
    background-color: var(--blue-drker);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0% 100%;
    background-size: 100% 50%;
  }

  margin: 0;
  padding: 0;
  box-sizing: inherit;
  height: 100vh;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: u.rem(14);
  background-image: url(./bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}
