:root {
  --pink-lt: hsl(6, 100%, 80%);
  --pink-drk: hsl(335, 100%, 65%);

  --bar-backgrnd: hsl(228, 58%, 19%);

  --blue-pale: hsl(243, 100%, 93%);
  --blue-gray: hsl(229, 7%, 55%);
  --blue-drk: hsl(228, 56%, 26%);
  --blue-drker: hsl(229, 57%, 11%);

  --white: hsl(0, 0%, 100%);
}
