@use "../util/" as u;

.main {
  @media screen and (min-width: u.em(1000)) {
    display: flex;
    align-items: center;
    margin: 0 u.rem(15);
    margin-top: u.rem(260);
  }

  margin-top: u.rem(180);

  &__fylo {
    @media screen and (min-width: u.em(1000)) {
      width: u.rem(520);
      margin-right: 0;
    }

    margin: 0 auto;
    position: relative;
    max-width: u.rem(420);
    height: u.rem(265);
    padding: u.rem(50);
    border-radius: u.rem(15) u.rem(150) u.rem(15) u.rem(15);
    background-color: var(--blue-drk);
  }

  &__logo {
    position: absolute;
    transform: scale(1.3);
    left: 70px;
    top: 58px;
  }

  &__icons {
    display: flex;
    align-items: center;
    margin-top: u.rem(105);
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: u.rem(60);
    height: u.rem(60);
    border-radius: u.rem(10);
    padding: u.rem(0);
    background-color: var(--blue-drker);

    &:not(:first-child) {
      margin-left: u.rem(25);
    }

    &--svg {
      transform: scale(1.3);
    }
  }
}
