@use "../util/" as u;

.main {
  &__storage {
    @media screen and (min-width: u.em(1000)) {
      margin-left: u.rem(40);
      margin-top: u.rem(85);
      width: u.rem(600);
    }

    display: flex;
    flex-direction: column;

    margin: u.rem(30) auto;
    position: relative;
    width: u.rem(420);
    height: u.rem(210);
    padding: u.rem(50) u.rem(40);
    border-radius: u.rem(15);
    background-color: var(--blue-drk);

    &--desc {
      @media screen and (min-width: u.em(1000)) {
        text-align: start;
      }

      margin-top: u.rem(-8);
      text-align: center;
      font-size: u.rem(18);
      font-weight: 400;
      color: var(--blue-pale);

      span {
        font-weight: 700;
      }
    }

    &--visual {
      @media screen and (min-width: u.em(1000)) {
        width: u.rem(520);
      }

      position: relative;
      align-self: center;
      width: u.rem(350);
      height: u.rem(30);
      margin-top: u.rem(22);
      border-radius: u.rem(50);
      background-color: var(--bar-backgrnd);
    }

    &--bar {
      @media screen and (min-width: u.em(1000)) {
        width: u.rem(380);
      }

      position: absolute;
      top: u.rem(5);
      left: u.rem(5);
      align-self: center;
      width: u.rem(250);
      height: u.rem(20);
      border-radius: u.rem(50);
      background-image: linear-gradient(
        to right,
        var(--pink-lt),
        var(--pink-drk)
      );
    }

    &--circle {
      position: absolute;
      top: 10%;
      right: 1%;
      width: u.rem(15);
      height: u.rem(15);
      border-radius: 50%;
      background-color: var(--white);
    }

    &--info {
      display: flex;
      justify-content: space-between;
      margin-top: u.rem(15);

      &--left {
        font-size: u.rem(15);
        color: var(--blue-pale);
      }

      &--right {
        font-size: u.rem(15);
        color: var(--blue-pale);
      }
    }

    &--container {
      @media screen and (min-width: u.em(1000)) {
        position: static;
      }
      position: relative;
      &--bubble {
        @media screen and (min-width: u.em(1000)) {
          top: u.rem(-60);
          left: u.rem(325);

          &::before {
            content: "";
            position: absolute;
            bottom: -30px;
            right: 0;
            width: u.rem(55);
            height: u.rem(50);
            clip-path: polygon(100% 0, 0 0, 100% 100%);
            background-color: var(--white);
          }
        }

        position: absolute;
        top: u.rem(25);
        left: u.rem(55);
        display: flex;
        justify-content: center;
        align-items: center;
        width: u.rem(235);
        height: u.rem(90);
        border-radius: u.rem(15);
        background-color: var(--white);
      }

      &--bubble--gb {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: var(--blue-gray);
      }
    }

    &--number {
      font-size: u.rem(50);
      color: var(--blue-drker);
    }

    &--text {
      margin-left: u.rem(10);
      font-size: u.rem(15);
    }
  }
}
